@model UCP1_PAW_049_A.Models.OrderProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdOrderProduct" />
            <div class="form-group">
                <label asp-for="IdProduct" class="control-label">ID Produk</label>
                <select asp-for="IdProduct" class="form-control" asp-items="ViewBag.IdProduct"></select>
                <span asp-validation-for="IdProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label">Kuantitas</label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceEach" class="control-label">Harga Satuan</label>
                <input asp-for="PriceEach" class="form-control" />
                <span asp-validation-for="PriceEach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
